packages/*/src/**/*.test.ts
packages/*/src/**/*.test.tsx
packages/*/src/api/*
prettier.config.js
node_modules/*
packages/*/node_modules/*
/**/node_modules/*

packages/*/craco.config.js

dist
packages/*/dist
packages/*/scripts
# config
vite.config.ts
jest.config.js
jest-setup.ts
.eslintrc.json