packages/*/src/**/*.test.ts
packages/*/src/**/*.test.tsx
packages/shared/lib/api/*
prettier.config.js
node_modules/*
packages/*/node_modules/*
/**/node_modules/*

packages/*/craco.config.js

dist
packages/*/dist
packages/*/scripts
# config
vite.config.ts
.eslintrc.json
es